<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <h4><span>Enrolled patients:</span></h4>
      </div>
      <div class="col-sm-8">{{test.numberOfCases}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4><span>Mean Age and SD:</span></h4>
      </div>
      <div class="col-sm-8">{{test.meanAge | number: '2.0-1' }} -/+ {{test.meanAgeSTD | number: '2.0-1' }}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4><span>Mean Height and SD:</span></h4>
      </div>
      <div class="col-sm-8">{{test.meanHeight | number: '2.0-1' }} -/+ {{test.meanHeightSTD | number: '2.0-1' }}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4><span>Gender:</span></h4>
      </div>
      <div class="col-sm-8">Male:{{test.genderMale}} / Female:{{test.genderFemale}}</div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
