<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <h4><span>Enrolled patients:</span></h4>
      </div>
      <div class="col-sm-8">{{numberOfPatients}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4><span>Mean Age and SD:</span></h4>
      </div>
      <div class="col-sm-8">{{MeanAge}} -/+ {{MeanSD}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4><span>Gender:</span></h4>
      </div>
      <div class="col-sm-8">Male:{{MaleNo}} / Female:{{FemaleNo}}</div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
